_build
**/CMakeFiles
**/CMakeCache.txt
*.pyc
**/build
/sdk/
build*/

# Temporary files
*.bak
*.TMP

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Editor specific
/.vscode/
/.idea

# Non public connectivity hex files
/hex/**/*0.0.0*.hex
/hex/**/*0.0.0*.zip

/_build*
/build*