DRIVERS=="usb", ATTRS{serial}=="000681284634", ENV{NAME}="segger_681284634"
DRIVERS=="usb", ATTRS{serial}=="000681764213", ENV{NAME}="segger_681764213"

KERNEL!="sd[b-z]*", GOTO="media_by_label_auto_mount_end"

IMPORT{program}="/sbin/blkid -o udev -p %N"

#If we have picked up a name (defined above) then use it
ENV{NAME}!="", ENV{dir_name}="%E{NAME}"

# otherwise use the kernel name (e.g. "sdb1" , "sdc1" , etc )
ENV{NAME}=="", ENV{dir_name}="mnt-%k"

# Global mount options
ACTION=="add", ENV{mount_options}="relatime"

# Filesystem-specific mount options
ACTION=="add", ENV{ID_FS_TYPE}=="vfat", ENV{mount_options}="$env{mount_options},utf8,gid=1000,uid=1000,umask=002,flush"

# Mount the device
ACTION=="add", RUN+="/bin/mkdir -p /media/%E{dir_name}", RUN+="/bin/mount -o $env{mount_options} /dev/%k /media/%E{dir_name}"

# Clean up after removal
ACTION=="remove", ENV{dir_name}!="", RUN+="/bin/umount -l /media/%E{dir_name}", RUN+="/bin/rmdir /media/%E{dir_name}"

# Exit
LABEL="media_by_label_auto_mount_end"
